body{
  background-color: black;
}
p{
  display: block;
  margin: auto;
  width: 80vw;
}

.main{
  color: #fff;
  height: 100vh;
  
  .base, .mask {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    
    span{
      color: #ec4e39;
    }
  }

  .mask{
    position: absolute;
    mask-image: url('/mask.svg');
    -webkit-mask-image: url('/mask.svg');
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    color: black;
    background: #ec4e39;
  }

}